<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS :80 -> http://localhost  (Node 127.0.0.1:3000 arka planda)

  ZORUNLU: Application Request Routing (ARR) + URL Rewrite
  IIS Yoneticisi -> Sunucu -> Application Request Routing -> Server Proxy Settings -> Enable proxy = TRUE

  Kurulum: deploy\INSTALL-ARR.ps1 (Yonetici)
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="NextProxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
