<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS :80 -> Node 127.0.0.1:3000 (ic port, disariya acik degil)
  Kurulum: CALISTIR.cmd
-->
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument enabled="false" />
    <rewrite>
      <rules>
        <!-- Let's Encrypt http-01: dosya varsa IIS sunar, yoksa Node -->
        <rule name="AcmeChallenge" stopProcessing="true">
          <match url="^\.well-known/acme-challenge/(.*)$" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}.well-known\acme-challenge\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url=".well-known/acme-challenge/{R:1}" />
        </rule>
        <rule name="NextProxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
